{% extends 'layout.html.twig' %}
{% do script(['libs/jquery-validation.js','app/js/auth/login/index.js']) %}
{% set bodyClass = 'login' %}
{% set ai_face_enabled = (setting('feature.face_enabled')|default(0) and setting('face.login.enabled')|default(0) and setting('face.login.pc_enabled')|default(0)) %}
{% block title %}{{ 'user.login.content_title'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
  {% if app.request.cookies.get('modalOpened') == 1 %}
    <a href="#modal" class=" hidden" data-toggle="modal"
      data-url="{{ path('card_info',{'cardType':app.request.query.get('cardType'),'cardId':app.request.query.get('cardId')}) }}" class="hidden"><span
        class="receive-modal"></span></a>
  {% endif %}
  <div class="es-section login-section">
    <div class="login-main js-login-main">
      <form id="login-form" class="form-vertical" method="post" action="{{ path('login_check') }}">
<style>
  .input-md-style {
    padding: 0 0 10px 30px !important;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #eee !important;
    border-radius: 0;
  }
  .es-icon {
    font-size: 20px !important;
    z-index: 999999;
    position: absolute;
  }
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
  }
</style>
        {% if error %}
          <div class="alert alert-danger">
            {% if error.message == 'Bad credentials.' %}
              {{ 'site.user_password.error_tips'|trans }}
            {% elseif error.message == 'User account is locked.' %}
              {{ 'exception.user_lock'|trans }}
            {% else %}
              {{ error.message|trans }}
            {% endif %}
          </div>
        {% endif %}
        {{ web_macro.flash_messages() }}
        <div class="form-group" style="margin-bottom: 40px">
          <label class="control-label hidden" for="login_username">帐号</label>
          <div class="controls input-icon-wrap">
            <i class="es-icon es-icon-people"></i>
            <input class="form-control input-md input-md-style" id="login_username" type="text" name="_username" value="" required="" placeholder="邮箱/手机/用户名" aria-required="true">
            <div class="help-block"></div>
          </div>
        </div>
        <div class="form-group login-form-group login-form-group--pwd">
          <label class="control-label hidden" for="login_password">密码</label>
          <div class="controls input-icon-wrap">
            <i class="es-icon es-icon-lock"></i>
            <input class="form-control input-md login-input input-md-style" id="login_password" type="password" name="_password" required="" placeholder="密码" maxlength="20" aria-required="true">
          </div>
        </div>

        <div class="form-group "style="margin-bottom: 40px">
          <div class="controls">
            <input type="checkbox" name="_remember_me" checked="checked"> {{ 'user.login.remember_me'|trans }}
          </div>
        </div>
        <div class="form-group mbl">
          <button type="button" style="border-color:#227dfd; background-color: #227dfd" class="btn btn-primary btn-lg btn-block js-btn-login">{{ 'user.login.submit_button'|trans }}</button>
        </div>

        <input type="hidden" name="_target_path" value="{{ _target_path }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>

      {% if setting('login_bind.enabled') or ai_face_enabled %}
        <div class="social-login">
            <span>
              {% if ai_face_enabled %}
                <a class="sts-login-link js-sts-login-link" href="javascript:;">
                  <img src="{{ asset('static-dist/app/img/face.png') }}"
                    srcset="{{ asset('static-dist/app/img/face.png') }} 1x, {{ asset('static-dist/app/img/face@2x.png') }} 2x" alt="{{'user.login.sts_discovery'|trans}}"/>
                </a>
              {% endif %}
              {{ render(controller('AppBundle:Login:oauth2LoginsBlock', {targetPath:_target_path})) }}
            </span>
          <div class="line"></div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block bottom %}
{% endblock %}
