{% set setting = setting('homepage_swiper.foot', []) %}
<div class="footer">
  <div class="footerCon">
    <div class="con-left">
      <a href="/"><img class="left-logo" src="{{ asset(setting.icon) }}" alt="创逸科技有限公司"></a>

      <div class="left-desc">
        <p>{{setting.text1}}</p>
        <p>{{setting.text2}}</p>
        <p class="phone-number">{{setting.text3}}&nbsp;&nbsp;&nbsp;</p>
        <p>{{setting.text4}}</p>
      </div>
    </div>

    <div class="con-right">
      <ul class="right-list">
        {% set navigations = data('NavigationsTree', {type: 'foot'}) %}
        {% for item in  navigations %}
          <li>
            <a href="{{ item.url }}" {% if item.isNewWin %}target="_blank"{% endif %}>{{item.name}}</a>
            {% if item.children|default() %}
            <ul class="right-second">
              {% for child in item.children %}
                <li>
                  <a href="{{ child.url }}" {% if child.isNewWin %}target="_blank"{% endif %}>{{child.name}}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="footerMark">
    <div class="markCon">
      <h4>
        <span>友情链接 :</span>
        {% set navigations = data('NavigationsTree', {type: 'friend'}) %}
        {% for item in  navigations %}
            <a href="{{ item.url }}" {% if item.isNewWin %}target="_blank"{% endif %}>{{item.name}}</a>
        {% endfor %}
      </h4>
    </div>

    <div class="icp-bottom">
      Copyright  2021 安徽创逸科技有限公司 版权所有 |
      <a class="icp" href="http://beian.miit.gov.cn" target="_blank">{{ setting('site.icpUrl', '创逸科技') }}</a>
    </div>

  </div>
</div>